.jumbotron {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000;
}

.jumbotron-text {
  padding: 3rem;
}

.card-dark {
  background-color: #000;
}

#project {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#galery {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000;
}

#about {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#form {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e2edff;
}
